{% extends "admin/base.html" %}
{% load static %}
  {% block title %}
  {{ title }} | Mussels Manager }}
{% endblock %}
{% block extrastyle %}
<style>
    #header {
        background-color: rgb(112,125,132);
        color: rgb(20,8,116);
    }
    .module h2, .module caption, .inline-group h2 {
        font-size: 18px;
        background: rgb(112,125,132) !important;
        color: rgb(20,8,116) !important ;
    }
    a.section:link, a.section:visited {
        color: rgb(20,8,116);
    }
    #site-name img {
        margin: 0;
        width: 75px;
        height: 75px;
    }
    #content {
        background-color: lightgrey;
    }
    #branding h1, #branding h1 a:link, #branding h1 a:visited {
        color: rgb(20,8,116);   
    }
    #branding h1 {
        margin: -17px 20px 0px 0px;
        font-size: 24px;
        color: #f5dd5d;
    }
    div.breadcrumbs {
        background: #79aec8;
        color: rgb(20,8,116);
        background-color: rgb(98,206,3);
        
    }
    div.breadcrumbs a{
        color: rgb(20,8,116);
        font-weight: 1000;
    }
</style>
{% endblock %}
{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}"><img src="{% static 'images/mussels_logo.png' %}" alt="">Mussels Manager</a>
</h1>
{% endblock %}
{% block nav-global %}
{% endblock %}